<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="coach">
    <resultMap id="categoryMap" type="category">
        <id column="CATE_SEQ" property="cateSeq"/>
        <result column="CATE_KEY" property="cateKey"/>
        <result column="CATE_VALUE" property="cateValue"/>
        <result column="CATE_ICON" property="cateIcon"/>
        <result column="CATE_DESC" property="cateDesc"/>
    </resultMap>

    <resultMap id="sectionMap" type="section">
        <id column="SECTION_SEQ" property="sectionSeq" />
        <result column="SECTION_TITLE" property="sectionTitle" />
        <result column="SECTION_CONTENT" property="sectionContent" />
        <result column="SECTION_ORDER" property="sectionOrder" />
        <result column="COURSE_SEQ" property="courseSeq" />
        <collection property="curriculums" ofType="curriculum">
            <result column="CURR_SEQ" property="currSeq" />
            <result column="CURR_TITLE" property="currTitle" />
            <result column="CURR_VIDEO_URL" property="currVideoUrl" />
            <result column="CURR_VIDEO_TYPE" property="currVideoType" />
            <result column="CURR_PREVIEW" property="currPreview" />
            <result column="CURR_ORDER" property="currOrder" />
            <result column="SECTION_SEQ" property="sectionSeq" />
        </collection>
    </resultMap>

    <resultMap id="coachApplyMap" type="coachApply">
        <id column="COA_SEQ" property="coaSeq"/>
        <result column="COA_BANK" property="coaBank"/>
        <result column="COA_BANK_NUM" property="coaBankNum"/>
        <result column="COA_BANK_NAME" property="coaBankName"/>
        <result column="COA_INTRO" property="coaIntro"/>
        <result column="COA_YN" property="coaYn"/>
        <result column="MEMBER_NO" property="memberNo"/>
    </resultMap>

    <select id="getCategoryAll" resultMap="categoryMap">
        SELECT * FROM CATEGORY
    </select>

    <insert id="insertTempCourse" parameterType="course">
        INSERT INTO COURSE (COURSE_SEQ, COURSE_TITLE, COURSE_CONTENT, COURSE_CATEGORY, COURSE_DIFFICULT, COURSE_PRICE, COURSE_DISCOUNT, COURSE_THUMBNAIL, COURSE_TARGET, COURSE_PREPARATION, COURSE_EXPOSE, COURSE_CREATE_TIME, COURSE_CONFIRM_TIME, MEMBER_NO, COURSE_TYPE)
        VALUES (SEQ_COURSE.nextval, #{courseTitle},#{courseContent},#{courseCategory},#{courseDifficult},#{coursePrice},#{courseDiscount},#{courseThumbnail},#{courseTarget},#{coursePreparation},'N',NULL,SYSTIMESTAMP,#{memberNo}, 'ON')
        <selectKey keyProperty="courseSeq" order="AFTER" resultType="_long">
            SELECT SEQ_COURSE.currval FROM DUAl
        </selectKey>
    </insert>

    <select id="getSectionList" parameterType="_long" resultMap="sectionMap">
        SELECT *
        FROM SECTION S
        LEFT JOIN CURRICULUM C ON S.SECTION_SEQ = C.SECTION_SEQ
        WHERE S.COURSE_SEQ = #{courseSeq}
    </select>

    <insert id="insertSection" parameterType="section">
        INSERT INTO SECTION VALUES (SEQ_SECTION.nextval, #{sectionTitle}, #{sectionContent}, #{sectionOrder}, #{courseSeq})
    </insert>
    <insert id="insertCurriculum" parameterType="curriculum">
        INSERT INTO CURRICULUM (CURR_SEQ, CURR_TITLE, CURR_VIDEO_URL, CURR_VIDEO_TYPE, CURR_PREVIEW, CURR_ORDER, SECTION_SEQ) VALUES (SEQ_CURRICULUM.nextval,#{currTitle},#{currVideoUrl},#{currVideoType},#{currPreview},#{currOrder},#{sectionSeq})
    </insert>

    <select id="getCoachApply" parameterType="_long" resultMap="coachApplyMap">
        SELECT * FROM COACH_APPLY WHERE MEMBER_NO = #{memberNO}
    </select>

    <update id="updateCoachApply" parameterType="coachApply">
        UPDATE COACH_APPLY SET COA_BANK = #{coaBank}, COA_BANK_NUM = #{coaBankNum}, COA_BANK_NAME = #{coaBankName}, COA_INTRO = #{coaIntro}, COA_YN = #{coaYn} WHERE COA_SEQ = #{coaSeq}
    </update>

    <insert id="insertCoachApply" parameterType="coachApply">
        INSERT INTO COACH_APPLY VALUES (SEQ_COACH_APPLY.nextval,#{coaBank}, #{coaBankNum}, #{coaBankName}, #{coaIntro}, #{coaYn}, #{memberNo})
    </insert>
</mapper>
