<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="coach">
    <resultMap id="categoryMap" type="category">
        <id column="CATE_SEQ" property="cateSeq"/>
        <result column="CATE_KEY" property="cateKey"/>
        <result column="CATE_VALUE" property="cateValue"/>
        <result column="CATE_ICON" property="cateIcon"/>
        <result column="CATE_DESC" property="cateDesc"/>
    </resultMap>
    <select id="getCategoryAll" resultMap="categoryMap">
        SELECT * FROM CATEGORY
    </select>

    <insert id="insertTempCourse" parameterType="course">
        INSERT INTO COURSE (COURSE_SEQ, COURSE_TITLE, COURSE_CONTENT, COURSE_CATEGORY, COURSE_DIFFICULT, COURSE_PRICE, COURSE_DISCOUNT, COURSE_THUMBNAIL, COURSE_TARGET, COURSE_PREPARATION, COURSE_EXPOSE, COURSE_CREATE_TIME, COURSE_CONFIRM_TIME, MEMBER_NO, COURSE_TYPE)
        VALUES (SEQ_COURSE.nextval, #{courseTitle},#{courseContent},#{courseCategory},#{courseDifficult},#{coursePrice},#{courseDiscount},#{courseThumbnail},#{courseTarget},#{coursePreparation},'N',NULL,SYSTIMESTAMP,#{memberNo}, 'ON')
        <selectKey keyProperty="courseSeq" order="AFTER" resultType="_long">
            SELECT SEQ_COURSE.currval FROM DUAl
        </selectKey>
    </insert>
</mapper>
