<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="course">
    <resultMap id="courseResultMap" type="course">
        <id column="COURSE_SEQ" property="courseSeq"/>
        <result column="COURSE_TITLE" property="courseTitle"/>
        <result column="COURSE_CONTENT" property="courseContent"/>
        <result column="COURSE_CATEGORY" property="courseCategory"/>
        <result column="COURSE_DIFFICULT" property="courseDifficult"/>
        <result column="COURSE_PRICE" property="coursePrice"/>
        <result column="COURSE_DISCOUNT" property="courseDiscount"/>
        <result column="COURSE_THUMBNAIL" property="courseThumbnail"/>
        <result column="COURSE_TARGET" property="courseTarget"/>
        <result column="COURSE_PREPARATION" property="coursePreparation"/>
        <result column="COURSE_EXPOSE" property="courseExpose"/>
        <result column="COURSE_CONFIRM_TIME" property="courseConfirmTime"/>
        <result column="COURSE_CREATE_TIME" property="courseCreateTime"/>
        <result column="MEMBER_NO" property="memberNo"/>
        <result column="COURSE_TYPE" property="courseType"/>
        <result column="CATE_VALUE" property="cateValue"/>
        <result column="MEMBER_NICKNAME" property="memberNickname"/>
    </resultMap>

    <resultMap id="reviewResultMap" type="review">
        <id column="REVIEW_SEQ" property="reviewSeq"/>
        <result column="MEMBER_SEQ" property="memberSeq"/>
        <result column="COURSE_SEQ" property="courseSeq"/>
        <result column="REVIEW_TITLE" property="reviewTitle"/>
        <result column="REVIEW_CONTENT" property="reviewContent"/>
        <result column="REVIEW_RATE" property="reviewRate"/>
        <result column="REVIEW_CREATE_TIME" property="reviewCreateDate"/>
        <result column="REVIEW_DELETE_TIME" property="reviewDeleteDate"/>
        <result column="MEMBER_NICKNAME" property="memberNickname"/>
    </resultMap>

    <resultMap id="curriculumMap" type="curriculum">
        <id column="CURR_SEQ" property="currSeq"/>
        <result column="CURR_TITLE" property="currTitle"/>
        <result column="CURR_VIDEO_URL" property="currVideoUrl"/>
        <result column="CURR_VIDEO_TYPE" property="currVideoType"/>
        <result column="CURR_PREVIEW" property="currPreview"/>
        <result column="CURR_ORDER" property="currOrder"/>
        <result column="SECTION_SEQ" property="sectionSeq"/>
    </resultMap>

    <resultMap id="progressMap" type="progress">
        <id column="PRG_SEQ" property="prgSeq"/>
        <result column="PRG_PLAY_TIME" property="prgPlayTime"/>
        <result column="PRG_TOTAL_TIME" property="prgTotalTime"/>
        <result column="PRG_COMPLETE_YN" property="prgCompleteYn"/>
        <result column="PGR_LAST_VIEW_TIME" property="prgLastViewTime"/>
        <result column="PRG_CREATE_TIME" property="prgCreateTime"/>
        <result column="PRG_UPDATE_TIME" property="prgUpdateTime"/>
        <result column="MEMBER_SEQ" property="memberSeq"/>
        <result column="COURSE_SEQ" property="courseSeq"/>
        <result column="SECTION_SEQ" property="sectionSeq"/>
        <result column="CURR_SEQ" property="currSeq"/>
    </resultMap>

    <select id="searchById" resultMap="courseResultMap" parameterType="_long">
        SELECT C.*,M.MEMBER_NICKNAME,(SELECT CATE_VALUE FROM CATEGORY WHERE CATE_SEQ = C.COURSE_CATEGORY) AS CATE_VALUE
        FROM COURSE C
        JOIN MEMBER M ON M.MEMBER_NO = C.MEMBER_NO
        WHERE COURSE_SEQ=#{courseSeq}
    </select>
    <select id="searchCourseListByMemberNo" resultMap="courseResultMap" parameterType="_long">
        SELECT C.*,(SELECT CATE_VALUE FROM CATEGORY WHERE CATE_SEQ = C.COURSE_CATEGORY) AS CATE_VALUE
        FROM COURSE C
        WHERE MEMBER_NO=#{memberNo}
    </select>
    <select id="getReviewList" resultMap="reviewResultMap" parameterType="_long">
        SELECT R.*, M.MEMBER_NICKNAME
        FROM COURSE_REVIEW R
        LEFT JOIN MEMBER M ON M.MEMBER_NO = R.MEMBER_SEQ
        WHERE COURSE_SEQ = #{courseSeq}
        AND REVIEW_DELETE_TIME IS NULL
        ORDER BY REVIEW_CREATE_TIME DESC
    </select>
    <select id="getReviewListCount" resultType="_int" parameterType="_long">
        SELECT COUNT(*)
        FROM COURSE_REVIEW
        WHERE COURSE_SEQ = #{courseSeq}
          AND REVIEW_DELETE_TIME IS NULL
    </select>

    <select id="getReviewByUser" resultType="_int" parameterType="review">
        SELECT COUNT(*)
        FROM COURSE_REVIEW
        WHERE COURSE_SEQ = #{courseSeq}
          AND MEMBER_SEQ = #{memberSeq}
          AND REVIEW_DELETE_TIME IS NULL
    </select>
    <select id="getReviewRateList" resultType="map" parameterType="_long">
        SELECT r.rate AS REVIEW_RATE,
               COUNT(cr.review_rate) AS RATE_COUNT
        FROM (
                 SELECT 5 AS rate FROM dual
                 UNION ALL SELECT 4 FROM dual
                 UNION ALL SELECT 3 FROM dual
                 UNION ALL SELECT 2 FROM dual
                 UNION ALL SELECT 1 FROM dual
             ) r
                 LEFT JOIN course_review cr
                           ON cr.review_rate = r.rate
                               AND cr.course_seq = #{courseSeq}
                               AND cr.review_delete_time IS NULL
        GROUP BY r.rate
        ORDER BY r.rate DESC
    </select>

    <insert id="insertReview" parameterType="review">
        INSERT INTO COURSE_REVIEW VALUES (SEQ_COURSE_REVIEW.nextval,#{memberSeq},#{courseSeq},#{reviewTitle},#{reviewContent},#{reviewRate},DEFAULT,NULL)
    </insert>
    <delete id="deleteReview" parameterType="review">
        DELETE FROM COURSE_REVIEW WHERE REVIEW_SEQ = #{reviewSeq}
    </delete>
    <select id="getFirstCurriculum" parameterType="_long" resultMap="curriculumMap">
        SELECT *
        FROM (
                 SELECT C.*
                 FROM CURRICULUM C
                          LEFT JOIN SECTION S ON C.SECTION_SEQ = S.SECTION_SEQ
                 WHERE S.COURSE_SEQ = #{courseSeq}
                 ORDER BY S.SECTION_ORDER, C.CURR_ORDER
             )
        WHERE ROWNUM = 1
    </select>
    <select id="getCurriculumBySeq" parameterType="_long" resultMap="curriculumMap">
        SELECT *
        FROM CURRICULUM
        WHERE CURR_SEQ = #{courrSeq}
    </select>

    <select id="getProgressBySeq" parameterType="map" resultMap="progressMap">
        SELECT *
        FROM COURSE_PROGRESS
        WHERE CURR_SEQ = #{currSeq}
        AND MEMBER_SEQ = #{memberSeq}
    </select>
    <insert id="insertProgress" parameterType="progress">
        INSERT INTO COURSE_PROGRESS (PRG_SEQ, PRG_PLAY_TIME, PRG_TOTAL_TIME, PRG_CREATE_TIME, MEMBER_SEQ, COURSE_SEQ, SECTION_SEQ, CURR_SEQ)
        VALUES (SEQ_PROGRESS.nextval,${prgPlayTime},${prgTotalTime},SYSTIMESTAMP,${memberSeq},${courseSeq},${sectionSeq},${currSeq})
    </insert>
    <update id="updateProgress" parameterType="progress">
        UPDATE COURSE_PROGRESS
        SET
           PRG_PLAY_TIME = ${prgPlayTime},
           PGR_LAST_VIEW_TIME = SYSTIMESTAMP,
           PRG_UPDATE_TIME = SYSTIMESTAMP
        WHERE PRG_SEQ = ${prgSeq}
    </update>

    <select id="getSectionCurrWithProgress" parameterType="map" resultType="map">
        SELECT S.*, C.*, P.*
        FROM SECTION S
                 LEFT JOIN CURRICULUM C ON S.SECTION_SEQ = C.SECTION_SEQ
                 LEFT JOIN COURSE_PROGRESS P ON C.CURR_SEQ = P.CURR_SEQ AND P.MEMBER_SEQ = #{memberSeq}
        WHERE S.COURSE_SEQ = #{courseSeq}
        ORDER BY S.SECTION_ORDER, C.CURR_ORDER
    </select>

    <select id="getMyLearningCourse" parameterType="_long" resultType="map">
        SELECT T.*, (SELECT COUNT(*) FROM COURSE_PROGRESS P WHERE P.COURSE_SEQ = T.COURSE_SEQ AND P.MEMBER_SEQ = #{memberNo}) AS PROGRESS
        FROM (
                 SELECT C.COURSE_SEQ,C.COURSE_TITLE,C.COURSE_THUMBNAIL,C.COURSE_TYPE,C.COURSE_CATEGORY,COUNT(C2.CURR_SEQ) AS CURR_COUNT
                 FROM ORDERS O
                          LEFT JOIN COURSE C ON C.COURSE_SEQ = O.COURSE_SEQ
                          LEFT JOIN SECTION S on C.COURSE_SEQ = S.COURSE_SEQ
                          LEFT JOIN CURRICULUM C2 on S.SECTION_SEQ = C2.SECTION_SEQ
                 WHERE O.MEMBER_NO = #{memberNo}
                   AND ORDERS_STATUS = 'PAID'
                 GROUP BY C.COURSE_SEQ,C.COURSE_TITLE,C.COURSE_THUMBNAIL,C.COURSE_TYPE,C.COURSE_CATEGORY) T
    </select>
</mapper>