<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="course">
    <resultMap id="courseResultMap" type="course">
        <id column="COURSE_SEQ" property="courseSeq"/>
        <result column="COURSE_TITLE" property="courseTitle"/>
        <result column="COURSE_CONTENT" property="courseContent"/>
        <result column="COURSE_CATEGORY" property="courseCategory"/>
        <result column="COURSE_DIFFICULT" property="courseDifficult"/>
        <result column="COURSE_PRICE" property="coursePrice"/>
        <result column="COURSE_DISCOUNT" property="courseDiscount"/>
        <result column="COURSE_THUMBNAIL" property="courseThumbnail"/>
        <result column="COURSE_TARGET" property="courseTarget"/>
        <result column="COURSE_PREPARATION" property="coursePreparation"/>
        <result column="COURSE_EXPOSE" property="courseExpose"/>
        <result column="COURSE_CONFIRM_TIME" property="courseConfirmDate"/>
        <result column="COURSE_CREATE_TIME" property="courseCreateDate"/>
        <result column="MEMBER_NO" property="memberNo"/>
        <result column="COURSE_TYPE" property="courseType"/>
    </resultMap>

    <select id="searchById" resultMap="courseResultMap" parameterType="_long">
        SELECT * FROM COURSE WHERE COURSE_SEQ=#{courseSeq}
    </select>

</mapper>