<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="passwordUpdate">
    <resultMap id="passwordUpdateTokenResultMap" type="com.up.spring.email.model.dto.PasswordUpdateToken">
        <id property="tokenNo" column="token_no"/>
        <result property="memberNo" column="member_no"/>
        <result property="token" column="token"/>
        <result property="expiryDate" column="expiry_date"/>
        <result property="used" column="used"/>
        <result property="createdAt" column="created_at"/>
    </resultMap>

    <insert id="insertPasswordUpdateToken" parameterType="com.up.spring.email.model.dto.PasswordUpdateToken">
        INSERT INTO password_update_token (member_no, token, expiry_date, used)
        VALUES (#{memberNo}, #{token}, #{expiryDate}, #{used})
    </insert>

    <select id="selectPasswordUpdateToken" parameterType="string" resultMap="passwordUpdateTokenResultMap">
        SELECT *
        FROM password_update_token
        WHERE token = #{token}
    </select>

    <update id="updateTokenAsUsed" parameterType="string">
        UPDATE password_update_token
        SET used = 'Y'
        WHERE token = #{token}
    </update>

    <update id="invalidateExistingTokens" parameterType="long">
        UPDATE password_update_token
        SET used = 'Y'
        WHERE member_no = #{memberNo}
          AND used = 'N'
    </update>
</mapper> 