<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTO Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="jdbcTypeForNull" value="NULL"/>
    </settings>
    <typeAliases>
        <typeAlias type="com.up.spring.member.model.dto.Member" alias="member"/>
        <typeAlias type="com.up.spring.common.model.dto.Category" alias="category"/>
        <typeAlias type="com.up.spring.course.model.dto.Course" alias="course"/>
        <typeAlias type="com.up.spring.course.model.dto.CourseSchedule" alias="schedule"/>
    </typeAliases>
</configuration>